---
layout: kind/landing
title: Welcome to Heartbeat
---

  <p>Knowing you're different is only the beginning.
  If you accept these differences
  you'll be able to get past them and grow even closer.</p>

  <p>
    <a href="/archives/" 
       class="button is-dark has-margin-bottom-5"
      >Articles Sorted by Month</a>
    <a href="/tags.html" 
       class="button is-primary has-margin-bottom-5"
      >Articles Sorted by Tag</a>
  </p>

  <p>If nobody cares to accept you and wants you in this world,
  accept yourself and you will see
  that you don't need them and their selfish ideas.</p>

  <div class="justify-content-center">
    <img src="site/images/adverts/one-page.png" 
         class="bio-photo" 
         alt="business card">
  </div>

  <blockquote>
  <p>Every journey begins with a single step.</p>
  </blockquote>
